.Header {
    width: 100%;
    height: calc(var(--index)*3.5);
    background-color: var(--black);
    margin-bottom: var(--index);

}

.Nav {
    width: 100%;
    height: inherit;
    display:flex;
    justify-content: center;
    align-items:center;
} 

.Nav .main {
    color: var(--white);
    margin: 0 var(--index);
    position:relative;
}
.Nav .sub {
    color:var(--purple);
    padding: var(--index) calc(var(--index)*.5);
    position:absolute;
    left: 0;
    bottom: 0;
    display: none;
    opacity:0;
    transition:.3s all;
}