*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration:none;
  color:inherit;
  list-style:none;
}

:root{
  --white:lightgray;
  --pink:pink;
  --purple:purple;
  --dpurple:purple;
  --black:#272727;
  --index:calc(1vw + 1vh);
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--white);
}

